{:openai             {:key         #env "OPENAI_KEY"
                      :temperature 0.4
                      :max-tokens  100
                      :prompt      "Summarize the following article in one sentence: %s\n\n"}
 :max-article-length 3000
 :num-stories        30
 :output-directory   "out/"}
